@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* NeedsList styles */
.needs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

/* NeedBox styles */
.need-box {
  border: 3px solid black; /* Light border color */
  padding: 12px;
  width: 275px;
  height: 275px;
  background-color: #fff;
  border-radius: 1px;
  overflow: hidden;
}
.need-box.green {
  background-color: rgba(51, 255, 0, 0.5);
}

.need-box.yellow {
  background-color: #f7cf71;
}

.need-box.red {
  background-color: #fc8b8b;
}

.need-box:hover {
  box-shadow: 8px 8px 0 rgba(95, 55, 250);
}

.vote-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.vote-buttons button {
  border: none;
  border-radius: 1px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vote-buttons button:hover {
  background-color: #e0e0e0;
}

.vote-buttons button.voted {
  color: white;
}

/* NeedCreator styles */
.need-creator {
  padding: 12px;
  border: 2px dashed black;
  border-radius: 1px;
  background-color: #fafafa;
  width: 275px;
  height: 275px;
  text-align: center;
}

.neo-button {
  width: 100%;
  padding: 8px;
  background-color: #01ff75;
  color: black;
  border: none;
  font-weight: 800;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid black;
}

.neo-button:hover {
  background-color: #00cc5c;
}

@media (max-width: 768px) {
  .needs-list {
    gap: 8px;
  }

  .need-box,
  .need-creator {
    width: calc(50% - 12px);
    height: "100%";
  }
}

@media (max-width: 480px) {
  .need-box,
  .need-creator {
    width: calc(100% - 24px);
  }
}

.slider-container {
  width: 100%;
}

.neobrutalist-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.neobrutalist-slider:hover {
  opacity: 1;
}

.neobrutalist-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; /* Large thumb for a bold look */
  height: 25px;
  background: #fff; /* Contrast thumb */
  cursor: pointer;
  border: 3px solid #333; /* Adding border to the thumb */
}

.neobrutalist-slider::-moz-range-thumb {
  width: 25px; /* Large thumb for a bold look */
  height: 25px;
  background: #fff; /* Contrast thumb */
  cursor: pointer;
  border: 3px solid #333; /* Adding border to the thumb */
}

.neobrutalist-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #333;
  border: 1px solid #fff;
  padding: 10px;
}

.neobrutalist-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #444;
  border: 2px solid #fff;
}

.neobrutalist-checkbox-container input:checked ~ .checkmark {
  background-color: #888;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.neobrutalist-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.neobrutalist-checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 15px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* EmojiPickerStyles.css */
.emoji-mart {
  font-family: "Arial", sans-serif; /* Simple and stark font */
  background-color: #d9d9d9; /* Concrete-like background */
  border: 2px solid black; /* Strong, pronounced borders */
  box-shadow: none; /* Remove any modern styling like shadows */
}

.emoji-mart-bar {
  background-color: #bbbbbb; /* Different shade for the toolbar */
  border-bottom: 2px solid black;
}

em-emoji-picker {
  border: 2px solid black;
  border-radius: 0;
}

/* EmojiPickerStyles.css */
.emoji-mart {
  font-family: "Arial", sans-serif; /* Simple and stark font */
  background-color: #d9d9d9; /* Concrete-like background */
  border: 3px solid black; /* Strong, pronounced borders */
}

.emoji-mart-bar {
  background-color: #bbbbbb;
  border-bottom: 3px solid black;
}

.emoji-mart-emoji:hover {
  background-color: transparent; /* Remove hover effects */
}

.emoji-mart-category-label span {
  background-color: #bbbbbb;
  color: black;
}

.emoji-mart-search input {
  background-color: #eeeeee;
  border: 3px solid black;
}

.emoji-mart-search-icon svg {
  fill: black; /* Solid, stark icon color */
}

.emoji-mart-anchor {
  color: black; /* High contrast for visibility */
}

.emoji-mart-anchor-selected {
  color: white;
  background-color: black;
}
